

<div class="jumbotron">
   <h2 class="title" style="color:white">在  这  里  找  到  不  一  样  的  自  己</h2>
   <p class="slogan">
       </p>
  <br>
  <br>
   <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a>
<a style="text-align: center" class="btn btn-lg btn-success" href="/admin/jobs">发布工作</a>
</p>
 </div>

 <div class="container-fluid bg-1 text-center">
  <h3>我们提供你想要的工作</h3>
  <hr />
  <br>
  <div class="row">
  <div class="col-sm-4">
      <p><h4>口碑</h4></p><br>
      <img src="https://image.flaticon.com/icons/svg/75/75722.svg" alt="bid" class = "img-bg-1" class="img-circle">
      <br>
   <p>上千家知名企业和初创型中小企业在这里注册招聘，就等你的到来</p>
    </div>
    <div class="col-sm-4">
      <p><h4>快速</h4></p><br>
      <img src="https://image.flaticon.com/icons/svg/101/101038.svg" class = "img-bg-1" class="img-circle">
      <br>
   <p>一周内，及时对你投递简历作出回应，不管你投递了几家公司</p>
    </div>
    <div class="col-sm-4">
      <p><h4>高效</h4></p><br>
      <img src="https://image.flaticon.com/icons/svg/158/158344.svg" class = "img-bg-1" class="img-circle">
      <br>
   <p>一键搜索，类型多样</p>
    </div>
  </div>
  <br>
  <br>
  <br>
 </div>


 <div class="container-fluid bg-2 text-center">
   <h3>人人都能找到工作的一个招聘网站</h3>
   <hr />
   <br>
   <br>
   <p>欢迎来到18K招聘网， 18K Offer 是一个提供18K薪水工作机会的求职网站。 我们希望藉由这个网站，能让大家找到且应征上高薪且优质的工作，  凭借自己的努力和天份也会变 Winner</p>
 </div>

 <div class="content-section-a">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-sm-6">
         <div class="clearfix"></div>
         <h2 class="section-heading">工程制造</h2>
         <hr class="section-heading-spacer">
         <br>
         <br>
          </a>
         <p class="lead">技术类，理工学</p>
       </div>
       <div class="col-lg-5 col-lg-offset-2 col-sm-6">
         <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
           <a target="_blank" href="/jobs"> <h3> 电气／建筑工程师 </h3></a>
       </div>
     </div>
   </div>
 </div>

 <div class="content-section-b">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
         <div class="clearfix"></div>
         <h2 class="section-heading">互联网</h2>
          <hr class="section-heading-spacer">
         <p class="lead">编程，独立和协作开发产品</p>
       </div>
       <div class="col-lg-5 col-sm-pull-6  col-sm-6">
         <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
         <a target="_blank" href="/jobs"><h3> 全栈工程师 </h3></a>
       </div>
     </div>
   </div>
 </div>

 <div class="content-section-a">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-sm-6">
         <div class="clearfix"></div>
         <h2 class="section-heading">销售</h2>
         <hr class="section-heading-spacer">
         <p class="lead">销售产品和运营</p>
       </div>
       <div class="col-lg-5 col-lg-offset-2 col-sm-6">
         <%= image_tag 'pic-5.jpg', class: 'img-responsive' %>
         <a style="text-align: right"  href="/jobs"><h3> 产品经理 </h3></a>
       </div>
     </div>
   </div>
 </div>

  <section id="testimonials" class="sec-testimonials">
     <div class="container">
       <h1>雇员这样说</h1>

<hr/>

<div class="row">
    <div class="col-sm-4">
        <p class="text-center">"18k offer给我太多的惊喜，我在这路快速的找到了我想要的工作，实现了我的梦想"</p>

        <p class="text-right">&mdash; 某公司王工程师</p>
    </div>

    <div class="col-sm-4">
        <p class="text-center">"你的能力，你的技能是否被发掘，在这里，老板会给你发展的平台"</p>

        <p class="text-right">&mdash; 某公司部门主任李先生</p>
    </div>

    <div class="col-sm-4">
        <p class="text-center">"我找到了属于我的梦想，我快乐的工作着，在公司同事们都很激情，大家鼓励，实现了自我价值，也创造了社会财富"</p>

        <p class="text-right">&mdash; 某公司张经理</p>
    </div>
</div>
</div>
</section>

 <div class="container-fluid bg-3 text-center">
   <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上行动</a>
</p>
<div class="col-sm-4 ">
<img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-43-31.png" alt="search" class = "img-thumbnail">
<div class="caption">
<h3>昆明广福路移动大厦</h3>
</div>
 </div>
 <div class="col-sm-4 ">
 <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-43-48.png" alt="search" class = "img-thumbnail">
 <div class="caption">
  <h3>info@18koffer.com</h3>
 </div>
  </div>
  <div class="col-sm-4 ">
  <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-44-00.png" alt="search" class = "img-thumbnail">
  <div class="caption">
   <h3>0871-12344321</h3>
  </div>
   </div>
 </div>
