<div class="container-fluid"></div>
<div class="jumbotron">
   <h2 class="title" style="color:white">在  这  里  找  到  不  一  样  的  自  己</h2>
   <p class="slogan">
       </p>
  <br>
  <br>
   <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a>
</p>
 </div>

 <div class="container-fluid bg-1 text-center">
  <h3>我们提供你想要的工作</h3>
  <hr />
  <br>
  <div class="row">
  <div class="col-sm-4">
      <p><h4>口碑</h4></p><br>
      <img src="https://image.flaticon.com/icons/svg/75/75722.svg" alt="bid" class = "img-bg-1" class="img-circle">
      <br>
   <p>上千家知名企业和初创型中小企业在这里注册招聘，就等你的到来</p>
    </div>
    <div class="col-sm-4">
      <p><h4>快速</h4></p><br>
      <img src="https://image.flaticon.com/icons/svg/101/101038.svg" class = "img-bg-1" class="img-circle">
      <br>
   <p>一周内，及时对你投递简历作出回应，不管你投递了几家公司</p>
    </div>
    <div class="col-sm-4">
      <p><h4>高效</h4></p><br>
      <img src="https://image.flaticon.com/icons/svg/158/158344.svg" class = "img-bg-1" class="img-circle">
      <br>
   <p>一键搜索，类型多样</p>
    </div>
  </div>
  <br>
  <br>
  <br>
 </div>


 <div class="container-fluid bg-2 text-center">
   <h3>人人都能找到工作的一个招聘网站</h3>
   <hr />
   <br>
   <br>
   <p>欢迎来到群英招聘网，这是一个提供高薪工作机会的求职网站。 我们希望藉由这个网站，能让大家找到且应征上高薪且优质的工作，  凭借自己的努力和天份也会变 Winner</p>
 </div>

 <div class="content-section-a">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-sm-6">
         <div class="clearfix"></div>
         <h4 class="section-heading">王总工程师 电力设备制造业</h4>
         <hr class="section-heading-spacer">
         <p class="lead">18k offer给我太多的惊喜，我在这路快速的找到了我想要的工作，实现了我的梦想</p>
       </div>
       <div class="col-lg-5 col-lg-offset-2 col-sm-6">
         <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>

 <div class="content-section-b">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
         <div class="clearfix"></div>
         <h4 class="section-heading">fayboy 互联网行业</h4>
          <hr class="section-heading-spacer">
         <p class="lead">我找到了属于我的梦想，我快乐的工作着，在公司同事们都很激情，大家鼓励，实现了自我价值，也创造了社会财富</p>
       </div>
       <div class="col-lg-5 col-sm-pull-6  col-sm-6">
         <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>

 <div class="content-section-a">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-sm-6">
         <div class="clearfix"></div>
         <h4 class="section-heading">hikes 服务行业</h4>
         <hr class="section-heading-spacer">
         <p class="lead">你的能力是否被发掘，在这里，你会得到自己的发展的平台</p>
       </div>
       <div class="col-lg-5 col-lg-offset-2 col-sm-6">
         <%= image_tag 'pic-5.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>

 <section id="testimonial" class="talk-about-us">
         <div class="container">
           <div class="row">
             <div class="col-md-8 col-md-offset-2 col-xs-12 text-center">
               <h2 class="section-title">我们提供的职位</h2>
               <div class="short-line"></div>
               <div id="talk-about-us" class="carousel slide" data-ride="carousel">
                 <ol class="carousel-indicators">
                   <li data-target="#talk-about-us" data-slide-to="0" class=""></li>
                   <li data-target="#talk-about-us" data-slide-to="1" class=""></li>
                   <li data-target="#talk-about-us" data-slide-to="2" class="active"></li>
                 </ol>
                 <div class="carousel-inner" role="listbox">
                   <div class="item">
                     <p>熟知ruby on rails, 精通前端，项目及团队管控能力强，敏捷开发、结对编程经验丰富</p>
                       <img src="https://image.flaticon.com/icons/svg/345/345736.svg" alt="User 1">
                    <a target="_blank" href="/jobs"><h3> 全栈工程师 </h3></a>
                   </div>
                   <div class="item">
                     <p>市场调查和分析、宣传和策划，促销活动的策划，广告文案制作和广告宣传策划及与媒体的沟通 </p>
                     <img src="https://image.flaticon.com/icons/svg/236/236826.svg" alt="User 1">
                    <a target="_blank" href="/jobs"><h3> 产品经理 </h3></a>
                   </div>
                   <div class="item active">
                     <p>负责产品电气设计，包括电气图纸绘制、电气布线等，参与评估元器件采购计划，配合生产协调外协单位有关电气方面的工作
                      </p>
                     <img src="https://image.flaticon.com/icons/svg/222/222567.svg" alt="User 1">
                    <a target="_blank" href="/jobs"><h3> 电气工程师 </h3></a>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </section>
