// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*
/* Created by Filipe Pina
 * Specific styles of signin, register, component
 */
/*
 * General styles
 */

 /* Jobs-show-page */
 /* Job-show-page */

 $red: #ad0000;
 .jobs-show-page {
   top: 0;
   border-width: 0 0 20px;
   margin-top: 0px;
 }

 .btn-default:hover, .btn-default:focus, .btn-default:default, .btn-default.active, .open>.dropdown-toggle.btn-default {
   color: darken($red, 5%);
   border: 1px solid #000;
 }

 .input-group .form-control {
     position: relative;
     z-index: 2;
     float: left;
     width: 50%;
     margin-bottom: 0;
 }
